<div class="container">
  <mat-toolbar class="toolbar">
    <span class="span">Colectivos</span>
    <button mat-fab color="primary" *ngIf="!loading"
            matTooltip="Crear"
            (click)="goToDetail(null)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <table mat-table [dataSource]="buses" *ngIf="!loading" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="licensePlate">
      <th mat-header-cell *matHeaderCellDef> Patente </th>
      <td mat-cell *matCellDef="let row"> {{row.licensePlate}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfSeats">
      <th mat-header-cell *matHeaderCellDef> Cant. Asientos </th>
      <td mat-cell *matCellDef="let row"> {{row.numberOfSeats}} </td>
    </ng-container>

    <ng-container matColumnDef="brandName">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let row"> {{row.model.brand.name}} </td>
    </ng-container>

    <ng-container matColumnDef="modelName">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let row"> {{row.model.name}} </td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab color="primary"
                matTooltip="Detalle"
                (click)="goToDetail(row)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab color="warn"
                matTooltip="Eliminar"
                (click)="delete(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]=buses.data.length
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<mat-spinner *ngIf="loading" style="margin: 0px auto"></mat-spinner>
