<div class="container">
  <mat-toolbar class="toolbar">
    <span class="span">Viajes</span>
    <button mat-fab color="primary" *ngIf="!loading"
            matTooltip="Crear"
            (click)="goToDetail(null)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <table mat-table [dataSource]="trips" *ngIf="!loading" class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- departure Column -->
    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef> Salida </th>
      <td mat-cell *matCellDef="let row"> {{row.departure}} </td>
    </ng-container>

    <!-- destination Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef> Destino </th>
      <td mat-cell *matCellDef="let row"> {{row.destination}} </td>
    </ng-container>

    <!-- startDate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
      <td mat-cell *matCellDef="let row"> {{row.startDate * 1000 | date : "dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- endDate Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
      <td mat-cell *matCellDef="let row"> {{row.endDate * 1000 | date : "dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- bus.licensePlate Column -->
    <ng-container matColumnDef="bus.licensePlate">
      <th mat-header-cell *matHeaderCellDef> Patente </th>
      <td mat-cell *matCellDef="let row"> {{row.bus.licensePlate}} </td>
    </ng-container>

    <!-- bus.brand Column -->
    <ng-container matColumnDef="bus.brand">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let row"> {{row.bus.model.brand.name}} </td>
    </ng-container>

    <!-- bus.model Column -->
    <ng-container matColumnDef="bus.model">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let row"> {{row.bus.model.name}} </td>
    </ng-container>

    <ng-container matColumnDef="trip">
      <th *matHeaderCellDef colspan="5" class="centered">  </th>
    </ng-container>

    <ng-container matColumnDef="bus">
      <th mat-header-cell *matHeaderCellDef colspan="4" class="centered"> Colectivo </th>
    </ng-container>

    <!-- option Column -->
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab color="primary"
                matTooltip="Detalle"
                (click)="goToDetail(row)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
                matTooltip="Detalle Colectivo"
                (click)="goToBusDetail(row.bus)">
          <mat-icon>directions_bus</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="groupedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]=trips.data.length
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<mat-spinner *ngIf="loading" style="margin: 0px auto"></mat-spinner>
