<mat-toolbar class="toolbar">
  <mat-icon>directions_bus</mat-icon>
  <h1 mat-dialog-title>Detalle Colectivo</h1>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item> <b>Id</b>:  {{bus.id}} </mat-list-item>
    <mat-list-item> <b>Patente</b>: {{bus.licensePlate}} </mat-list-item>
    <mat-list-item> <b>Asientos</b>: {{bus.numberOfSeats}} </mat-list-item>
    <mat-list-item> <b>Marca</b>:  {{bus.model.brand.name}} </mat-list-item>
    <mat-list-item> <b>Modelo</b>: {{bus.model.name}} </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Volver
  </button>
</mat-dialog-actions>
