<mat-card [formGroup]="loginForm" *ngIf="!loading" class="mat-card-login mat-elevation-z8">

  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <div class="imagen">
    <img src="../../../assets/img/usuario.png" width="35%">
  </div>

  <mat-card-content>
    <mat-form-field appearance="legacy" class="input-form">
      <mat-label>Usuario:</mat-label>
      <input matInput formControlName="username">
      <mat-icon matSuffix>email</mat-icon>
      <ng-container *ngIf="fc.username.invalid &&(fc.username.dirty || fc.username.touched)">
        <mat-error *ngIf="fc.username.errors?.required">
          Este campo es requerido.
        </mat-error>
        <mat-error *ngIf="fc.username.errors?.email">
          Formato incorrecto
        </mat-error>
      </ng-container>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="input-form">
      <mat-label>Contraseña:</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <ng-container *ngIf="fc.password.invalid &&(fc.password.dirty || fc.password.touched)">
        <mat-error *ngIf="fc.password.errors?.required">
          Este campo es requerido.
        </mat-error>
      </ng-container>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="logIn()"
            [disabled]="loginForm.invalid || loading">Ingresar
    </button>
  </mat-card-actions>
</mat-card>
<mat-spinner *ngIf="loading" style="margin: 0px auto"></mat-spinner>
