<mat-card [formGroup]="formBus" *ngIf="!loading">

  <mat-form-field appearance="legacy" class="input-form">
    <mat-label>Patente:</mat-label>
    <input matInput formControlName="licensePlate" autocomplete="off">
    <ng-container *ngIf="fc.licensePlate.invalid && (fc.licensePlate.dirty || fc.licensePlate.touched)">
      <mat-error *ngIf="fc.licensePlate.errors?.required">
        Este campo es requerido.
      </mat-error>
      <mat-error *ngIf="fc.licensePlate.errors?.pattern">
        Patente incorrecta.
      </mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="input-form">
    <mat-label>Cant. Asientos:</mat-label>
    <input matInput type="number" formControlName="numberOfSeats" autocomplete="off">
    <ng-container *ngIf="fc.numberOfSeats.invalid && (fc.numberOfSeats.dirty || fc.numberOfSeats.touched)">
      <mat-error *ngIf="fc.numberOfSeats.errors?.required">
        Este campo es requerido.
      </mat-error>
      <mat-error *ngIf="fc.numberOfSeats.errors?.min || fc.numberOfSeats.errors?.max">
        Este campo requiere valores entre 5 y 20.
      </mat-error>
    </ng-container>
  </mat-form-field>


  <mat-form-field class="input-form">
    <mat-select placeholder="Marca" [(value)]="brandSelected"
                (selectionChange)="onSelect($event.value)">
      <mat-option *ngFor="let brand of brands" [value]="brand.id">
        {{brand.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-form">
    <mat-select placeholder="Modelo" formControlName="model" required>
      <mat-option *ngFor="let model of models" [value]="model.id">
        {{model.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="fc.model.errors?.required">
      Este campo es requerido.
    </mat-error>
  </mat-form-field>

  <div>
    <button mat-button (click)="goToBack()">Volver</button>
    <button mat-raised-button color="primary" (click)="save()"
            [disabled]="formBus.invalid || loading">Guardar</button>
  </div>
</mat-card>
<mat-spinner *ngIf="loading" style="margin: 0px auto"></mat-spinner>

