<mat-card [formGroup]="formTrip" *ngIf="!loading">

  <mat-form-field appearance="legacy" class="input-form">
    <mat-label>Salida</mat-label>
    <input matInput type="text" formControlName="departure" autocomplete="off">
    <ng-container *ngIf="fc.departure.invalid && (fc.departure.dirty || fc.departure.touched)">
      <mat-error *ngIf="fc.departure.errors?.required">
        Este campo es requerido.
      </mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="input-form">
    <mat-label>Destino</mat-label>
    <input matInput type="text" formControlName="destination" autocomplete="off">
    <ng-container *ngIf="fc.destination.invalid && (fc.destination.dirty || fc.destination.touched)">
      <mat-error *ngIf="fc.destination.errors?.required">
        Este campo es requerido.
      </mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field color="accent" appearance="fill">
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput [matDatepicker]="startDate"formControlName="startDate" (dateChange)="comparisonStartdateValidator()"
           required>
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate color="primary"></mat-datepicker>
    <mat-error
      *ngIf="
        formTrip.controls['startDate'].hasError('invaliddaterange')">
      <strong>La Fecha de Inicio no puede ser mayor a la Fecha de Fin</strong>
    </mat-error>
    <mat-error
      *ngIf="formTrip.controls['startDate'].hasError('required')">
      Este campo es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent" appearance="fill">
    <mat-label>Fecha de Fin</mat-label>
    <input matInput [matDatepicker]="endDate" formControlName="endDate" (dateChange)="comparisonEnddateValidator()"
           required>
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate color="primary"></mat-datepicker>
    <mat-error
      *ngIf="formTrip.controls['endDate'].hasError('invaliddaterange')">
      <strong>La Fecha de Fin no puede ser menor a la Fecha de Inicio</strong>
    </mat-error>
    <mat-error
      *ngIf="formTrip.controls['endDate'].hasError('required')">
      Este campo es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-form">
    <mat-select placeholder="Colectivo" formControlName="bus" required>
      <mat-option *ngFor="let bus of buses" [value]="bus.id" (click)="showCantNumberOfSeats()">
        {{bus.showName()}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="fc.bus.errors?.required">
      Este campo es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="input-form">
    <mat-label>Asientos Disponibles</mat-label>
    <input matInput type="number" disabled [value]="cantNumberOfSeats">
  </mat-form-field>

  <div class="persons">
    <mat-toolbar class="toolbar">
      <span class="span">Pasajeros</span>
    </mat-toolbar>
    <div class="table-persons">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!loading">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- FirstName Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
    </div>
  </div>
  <div>
    <button mat-button (click)="goToBack()">Volver</button>
    <button mat-raised-button color="primary" (click)="save()"
            [disabled]="formTrip.invalid || loading">Guardar</button>
  </div>
</mat-card>
<mat-spinner *ngIf="loading" style="margin: 0px auto"></mat-spinner>

