.input-form{
  display: flex;
}

mat-card{
  width: 100%;
}

table {
  width: 100%;
}

.table-persons {
  width: 90%;
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.persons {
  margin-top: 30px;
  width: 90%;
}

.toolbar {
  width: 90%;
}
