.sidenav {
  width: 250px;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

.toggle:hover {
  cursor: pointer;
}
.nav .active-link {
  background-color: #fafafa;
  border-left: solid 3px #1976d2;
}

.nav .hover {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform, border, background-color;
}

.nav mat-list-item, a {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}
.nav a:hover {
  cursor: pointer;
  background-color: #fafafa;
  border-left: solid 3px #1976d2;
}

.nav mat-icon {
  color: #1976d2;
}
