/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  height: 100%;
}

mat-sidenav[style] {
  visibility: visible !important;
  position: absolute;
}
.mat-drawer {
  transform: none !important;
}
