<div class="container">
  <mat-toolbar class="toolbar">
    <span class="span">Personas</span>
    <button mat-fab color="primary" *ngIf="!loading"
            matTooltip="Crear"
            (click)="goToDetail(null)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <table mat-table [dataSource]="persons" *ngIf="!loading" class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>

    <!-- age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let row"> {{row.age}} </td>
    </ng-container>

    <!-- option Column -->
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab color="primary"
                matTooltip="Detalle"
                (click)="goToDetail(row)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab color="warn"
                matTooltip="Eliminar"
                (click)="delete(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]=persons.data.length
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<mat-spinner *ngIf="loading" style="margin: 0px auto"></mat-spinner>
